<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AutoStartProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <AutoStartProgram.Properties.Settings>
            <setting name="ReadFile" serializeAs="String">
                <value>G:\TestService\Debug1\GI.exe</value>
            </setting>
            <setting name="ReadNotification" serializeAs="String">
                <value>G:\TestService\Debug3\WEB.ConsoleApp.exe</value>
            </setting>
            <setting name="ReadFileExeName" serializeAs="String">
                <value>GI</value>
            </setting>
            <setting name="ReadComPortExeName" serializeAs="String">
                <value>GI.COMPORT</value>
            </setting>
            <setting name="ReadNotificationExeName" serializeAs="String">
                <value>WEB.ConsoleApp</value>
            </setting>
            <setting name="ReadComPort" serializeAs="String">
                <value>G:\TestService\Debug2\GI.COMPORT.exe</value>
            </setting>
            <setting name="tmInerval" serializeAs="String">
                <value>1</value>
            </setting>
        </AutoStartProgram.Properties.Settings>
    </userSettings>
</configuration>
